<div class="bg-white fixed w-[20%] h-screen flex flex-col justify-between p-4 border-r-2 border-grey-light border-solid">
  <div class="flex flex-col gap-y-3.5">
    <div>
      <div class="flex items-center mb-4 gap-x-2.5">
        <%= image_tag 'logo_blue.svg', alt: 'logo', class: 'w-[40px]' %>
        <p class="font-bold text-sm">Cedis2RMB</p>
      </div>
    </div>
    <div class="flex flex-col gap-y-1">
      <div class= "<%='active-link' if current_page?(dashboard_path) %> w-[100%] h-[30px] px-2 flex items-center m-auto rounded">
        <%= link_to "Dashboard", dashboard_path %>
      </div>
      <div class= "<%='active-link' if current_page?(root_path) %> w-[100%] h-[30px] px-2 flex items-center m-auto rounded">
        <%= link_to "Buy RMB", new_order_path, target: "_blank" %>
      </div>
      <div class= "<%='active-link' if controller_name=='orders' %> w-[100%] h-[30px] px-2 flex items-center m-auto rounded">
        <%= link_to "My Orders", orders_path %>
      </div>
      <div class= "<%='active-link' if current_namespace?('users') %> w-[100%] h-[30px] px-2 flex items-center m-auto rounded">
        <%= link_to "Edit Account", edit_user_registration_path %>
      </div>
    </div>
  </div>
  <div>
    <%= 
      button_to 'Logout',
      destroy_user_session_path,
      method: :delete,
      class: "bg-blue w-[100%] m-auto rounded text-white h-[30px]"
    %>
  </div>
</div>