<div class="w-full p-4">
  <%= render 'header' %>

  <div class="bg-white rounded my-4 px-2 ">

    <div class="py-4 border-b-2 m-2 border-slate_medium w-[50%] flex justify-between items-center">
      <div class="flex gap-x-4 items-center">
        <div class="w-[80px] h-[80px] rounded-full bg-blue bg-opacity-10 text-blue flex justify-center items-center">GU</div>
        <div>
          <div class="text-lg"><%= @order.user&.username || "Guest User" %></div>
          <div class="text-font_grey_dark text-xs">GHS <%= @order.amount %></div>
          <div class="text-xs <%= order_status_color(@order.status) %>"><%= @order.status %></div>
        </div>
      </div>
      <div>
        <%= form_with(model: @order, url: order_path(@order), method: :patch) do |form| %>
          <div>
            <%= form.select :status,
              options_for_select(Order.status_options, @order.status),
              {},
              class: "rounded border-blue",
              onchange: "this.form.submit()"
            %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="text-font_grey_dark font-medium mt-4">
      <div class="mb-4">
        <div>Date</div>
        <div class="w-[40%] px-4 py-2 border border-slate_medium text-font_grey"> <%= format_date(@order.created_at) %> </div>
      </div>
      <div class="mb-4">
        <div>Rate</div>
        <div class="w-[40%] px-4 py-2 border border-slate_medium text-font_grey"> <%= @order.rate %> </div>
      </div>
    </div>
  </div>
</div>
